.contents{
    border: 0.2rem solid #000;
    max-height: 52rem;
    
    border-radius: 0.5rem;
}

.quotes-title{
    background-color: #ccc;
    font-size: 2.2rem;
}

.quotes-result{
    font-size: 1.6rem;
    font-weight: 700;
    border: 1px solid #ddd;
}



@media (max-width: 768px) { 
    .quotes-title{
        font-size: 1.7rem;
    }
    .quotes-result{
        font-size: 1.4rem;
    }
}