<div class="contents">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col" class="grid-header quotes">
          Cotação de compra
          <div>
            <input type="text">
          </div>
        </th>
        <th scope="col" class="grid-header quotes">
          Cotação de venda
          <div>
            <input type="text">
          </div>
        </th>
        <th scope="col" class="grid-header quotes">
          Data e hora de cotação
          <div>
            <input type="text">
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let resultQuoteValue of resultQuotesValues">
      <tr>
        <td>{{ resultQuoteValue.cotacaoCompra }}</td>
        <td>{{ resultQuoteValue.cotacaoVenda }}</td>
        <td>{{ resultQuoteValue.dataHoraCotacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
