<div class="contents">
  <div class="row p-2">
    <div class="col-4 pe-0 border-end border-dark">
      <div class="grid-header p-1">
        <h2>Cotação de compra</h2>
        <div class="search-results">
          <input type="search" />
        </div>
      </div>
      <div class="quotes d-flex align-items-center">
        
      </div>
    </div>
    <div class="col-4 ps-0 pe-0 border-end border-dark">
      <div class="grid-header p-1">
        <h2>Cotação de venda</h2>
        <div class="search-results">
          <input type="search" />
        </div>
      </div>
      <div class="quotes d-flex align-items-center">
        <span class>ola mundo</span>
      </div>
    </div>
    <div class="col-4 ps-0 border-end border-dark">
      <div class="grid-header p-1">
        <h2>Data e Hora da cotação</h2>
        <div class="search-results">
          <input type="search" />
        </div>
      </div>
      <div class="quotes d-flex align-items-center">
        <span class>ola mundo</span>
      </div>
    </div>
  </div>
</div>
