<div class="contents overflow-scroll p-2 pt-0 table-responsive">
  <table class="table table-striped">
    <thead class="p-3 sticky-top ">
      <tr>
        <th scope="col" class=" quotes-title border-end ">
          Cotação de compra
          <div class="input-search mt-3">
            <form >
              <input type="text" class="form-control" />
            </form>
          </div>
        </th>
        <th scope="col" class=" quotes-title border-end ">
          Cotação de venda
          <div class="input-search mt-3">
            <input type="search" class="form-control"/>
          </div>
        </th>
        <th scope="col" class=" quotes-title border-end ">
          Data e hora de cotação
          <div class="input-search mt-3">
            <input type="search" class="form-control"/>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let resultQuoteValue of resultQuotesValues" class="p-3">
      <tr>
        <td class="p-3 quotes-result border-end ">{{ resultQuoteValue.cotacaoCompra }}</td>
        <td class="p-3 quotes-result border-end ">{{ resultQuoteValue.cotacaoVenda }}</td>
        <td class="p-3 quotes-result border-end ">{{ resultQuoteValue.dataHoraCotacao }}</td>
      </tr>
    </tbody>
  </table>
</div>
