<nav class="navbar navbar-light bg-light nav p-3">
    <div class="container-fluid">
        <form>
            <div class="d-flex flex-column">
                <label class="form-label">Moeda</label>
                <select class="coins form-select" name="coins">
                    <option value="" selected>---</option>
                    <option value="cad"></option>
                    <option value="eur"></option>
                    <option value="usd"></option>
                    <option value="aud"></option>
                </select>
            </div>

        </form>
    </div>
  </nav>













